body {
  margin: 0%;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FPau6JtaiED8%2Fmaxresdefault.jpg&f=1&nofb=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}